.App {
  text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game {
    flex: 1;
    position: relative;
    overflow: hidden;
}

/*.player {
    height: auto;
    width: 50px;
    position: absolute;
    left: 683px;
    top: 326px;
    z-index: 10;
}*/

.player {
    height: 30;
    width: 50px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-15px;
    margin-left:-25px;
    z-index: 10;
}

.btnRight{
    height: 50px;
    width: 32%;
    text-align: left;
    border-radius: 8px;
    background-color: #008CBA;
    position: fixed;
    bottom: 0;
    left: 68%
}

.btnLeft{
    height: 50px;
    width: 32%;
    text-align: left;
    background-color: #008CBA;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    left:0
}

.btnShoot{
    height: 50px;
    width: 36%;
    text-align: left;
    background-color: #008CBA;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    left:32%
}

/*.projectile {
    height: auto;
    width: 50px;
    position: absolute;
    left: 683px;
    top: 326px;
    z-index: 10;
}*/

.projectile {
    height: 52px;
    width: 50px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-26px;
    z-index: 10;
}

/*.enemy {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 683px;
    top: 326px;
    z-index: 5;
}*/

.enemy {
    height: 50px;
    width: 50px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-25px;
    z-index: 5;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: block;
}


.lifebar{
  height: auto;
  width: auto;  
  z-index: 15;
  position: absolute
}

.life{
  height: 50px;
  width: 50px;
}

.scoreboard{
  position: absolute;
  top: 35px;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  z-index: 20;
}