.App {
  text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.player {
    height: auto;
    width: 50px;
    position: absolute;
    left: 683px;
    top: 326px;
    z-index: 10;
}

.projectile {
    height: auto;
    width: 50px;
    position: absolute;
    left: 683px;
    top: 326px;
    z-index: 10;
}

.enemy {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 683px;
    top: 326px;
    z-index: 5;
}

.lifebar{
  height: auto;
  width: auto;  
  z-index: 15;
  position: absolute
}

.life{
  height: 50px;
  width: 50px;
}

.scoreboard{
  position: absolute;
  top: 35px;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  z-index: 20;
}